{% extends "./layout/base_dash.html" %} {% block title %}Mark3ts{% endblock %}
{% block content %}
<div
  class="absolute z-[-10] top-0 h-screen w-screen bg-black bg-[radial-gradient(#ffffff33_1px,#000000_1px)] bg-[size:20px_20px] animate-slow-pulse"
></div>

<div class="flex w-full h-screen m-auto justify-center">
  <div id="toptoggle"></div>
  <!-- sidebar -->
  {% include 'components/sidenav.html' %}
  <!-- main part of the screen -->
  <div class="w-[78%] overflow-y-auto no-scrollbar">
    <!-- search bar block -->
    <div class="mt-36 max-w-md mx-auto">
      <img
        src="../static/img/logo.png"
        class="w-12 h-12 mx-auto mb-5"
        alt="logo"
      />
      <h2 class="text-neutral-300 mb-3 m-auto text-center">
        Find the Best Deals Across the Web.
      </h2>
      <form>
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only"
          >Search Products</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="default-search"
            class="block w-full p-4 ps-10 text-md text-white border border-gray-500 rounded-lg bg-color4 focus:outline-none focus:ring-1 focus:ring-gray-600 focus:border-gray-600"
            placeholder="Search Your Electronics, Sneakers, ..."
          />
          <button
            type="submit"
            class="text-white absolute end-2.5 bottom-2.5 bg-color1 hover:bg-blue-8s00 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
          >
            Search
          </button>
        </div>
      </form>
    </div>
    <div
      class="w-[80%] flex mt-16 flex-wrap justify-between gap-8 m-auto text-white"
    >
      <div class="">Recent Searches:</div>
      <div class="">
        <button
          type="button"
          class="py-1.5 px-3 mb-2 text-sm font-medium text-color2 focus:outline-none rounded-sm border hover:text-blue-700 border-gray-700 bg-black hover:bg-[#0a0a0a]"
        >
          SORT
        </button>
      </div>
    </div>

    <!-- cards -->
    <div class="w-[80%] flex mt-6 flex-wrap justify-between gap-8 m-auto">
      {% include 'components/product_card.html' %}
    </div>
  </div>
</div>

{% endblock %}
